<!-- Central Modal Small -->
<!-- <form [formGroup]="submitTaskForm" (ngSubmit)="submitTask()"> -->
<div
  class="modal fade"
  id="completedTeam"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div
        class="modal-header"
        style="background-color: #17252a; color: white;"
      >
        <h4 class="modal-title w-100" id="myModalLabel">
          <a
            ><i style="padding-right: 10px !important;" class="fas fa-upload">
            </i></a
          >Submit task
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          style="color: white;"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body"></div>

      <div class="modal-footer">
        <button
          style="background-color: #17252a !important;"
          type="submit"
          class="close-button"
          id="taskSubmitBtn"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
<!-- </form> -->
<!-- Central Modal Small -->
