<div class="row" style="height: 25px;">
  <div class="col-md-12"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6 about-column left-column">
        <a><i style="margin-right: 5px;" class="fas fa-user"></i></a>Description
      </div>
      <div class="col-md-6 about-column right-column">
        Ufone - Tum Hi Tou Ho!
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 about-column left-column">
        <a><i style="margin-right: 5px;" class="fas fa-phone-square-alt"></i></a
        >Phone
      </div>
      <div class="col-md-6 about-column right-column">
        +92 300 0000123
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 about-column left-column">
        <a><i style="margin-right: 5px;" class="fas fa-globe"></i></a>Website
      </div>
      <div class="col-md-6 about-column right-column">
        http://www.jazz.com.pk
      </div>
    </div>

    <div class="col-md-2"></div>
  </div>
</div>
