<div class="row" style="padding-top: 0px;">
  <div
    class="col-md-8"
    style="background-color: whitesmoke

  ; padding-top: 20px;"
  >
    <div class="row">
      <div class="col-md-12">
        <div class="form-group shadow-textarea">
          <!-- <label for="exampleFormControlTextarea6">Shadow and placeholder</label> -->
          <textarea
            class="form-control z-depth-1"
            id="exampleFormControlTextarea6"
            rows="3"
            placeholder="Write something here..."
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        style="margin-top: -5px; margin-left: -3px;"
        class="md-form col-md-10"
      >
        <div class="file-field">
          <div class="btn btn-primary btn-sm float-left">
            <span>Choose file</span>
            <input type="file" />
          </div>
          <div class="file-path-wrapper">
            <input
              class="file-path validate"
              type="text"
              placeholder="Upload your file"
            />
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <button
          style="margin-left: -3px; margin-top: -5px;"
          class="btn btn-primary"
        >
          Post
        </button>
      </div>
    </div>
    <hr />
    <div class="row">
      <div style="background-color: whitesmoke;" class="col-md-12">
        <div class="row" style="background-color: whitesmoke; padding: 5px;">
          <div class="col-md-1">
            <img
              style="width: 50px;"
              src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
              class="rounded-circle z-depth-0"
              alt="avatar image"
            />
          </div>
          <div class="col-md-11">
            <div class="row">
              <div class="col-md-12">
                <h6
                  style="font-family: sans-serif; font-size: 15px; font-weight: bold; padding-top: 5px"
                >
                  Ayesha Haq
                </h6>
              </div>
            </div>
            <div class="row">
              <div
                style="font-family: sans-serif; font-size: 12px;"
                class="col-md-12"
              >
                <a style="margin-right:5px;"><i class="fas fa-clock"></i></a
                >07:12 AM
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>

        <div class="row" style="margin-top: 10px; margin-left: 10px;">
          <div class="col-md-1">
            <img
              style="width: 40px;"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR7ULXhTjsUrfpFmzCzUo8T_dMjCwwshvugIVID97Y_5KYouGDJ"
              class="rounded-circle z-depth-0"
              alt="avatar image"
            />
          </div>
          <div class="col-md-9" style="margin-top: 5px;">
            <input
              class="form-control form-control-sm"
              type="text"
              placeholder="Write a comment.."
            />
          </div>
          <div class="col-md-2">
            <button class="myButton btn-sm btn-primary">
              Post
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div style="background-color: whitesmoke;" class="col-md-12">
        <div class="row" style="background-color: whitesmoke; padding: 5px;">
          <div class="col-md-1">
            <img
              style="width: 50px;"
              src="https://2d3z3x4e2xrx130kvm2hxdsp-wpengine.netdna-ssl.com/wp-content/uploads/2019/01/Tracy_Wright_Corvo_Photography_branding_portrait-1-4.jpg"
              class="rounded-circle z-depth-0"
              alt="avatar image"
            />
          </div>
          <div class="col-md-11">
            <div class="row">
              <div class="col-md-12">
                <h6
                  style="font-family: sans-serif; font-size: 15px; font-weight: bold; padding-top: 5px"
                >
                  Ahmed Ali
                </h6>
              </div>
            </div>
            <div class="row">
              <div
                style="font-family: sans-serif; font-size: 12px;"
                class="col-md-12"
              >
                <a style="margin-right:5px;"><i class="fas fa-clock"></i></a
                >01:58 PM
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur.
          </div>
        </div>

        <div class="row" style="margin-top: 10px; margin-left: 10px;">
          <div class="col-md-1">
            <img
              style="width: 40px;"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR7ULXhTjsUrfpFmzCzUo8T_dMjCwwshvugIVID97Y_5KYouGDJ"
              class="rounded-circle z-depth-0"
              alt="avatar image"
            />
          </div>
          <div class="col-md-10" style="margin-top: 5px;">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </div>
          <div class="col-md-1"></div>
        </div>

        <div class="row" style="margin-top: 10px; margin-left: 10px;">
          <div class="col-md-1">
            <img
              style="width: 40px;"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR7ULXhTjsUrfpFmzCzUo8T_dMjCwwshvugIVID97Y_5KYouGDJ"
              class="rounded-circle z-depth-0"
              alt="avatar image"
            />
          </div>
          <div class="col-md-9" style="margin-top: 5px;">
            <input
              class="form-control form-control-sm"
              type="text"
              placeholder="Write a comment.."
            />
          </div>
          <div class="col-md-2">
            <button class="myButton btn-sm btn-primary">
              Post
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div style="background-color: olive;" class="col-md-12">
        <div style="background-color: palegoldenrod; height: 150px;"></div>
      </div>
    </div>
    <div class="row">
      <div style="background-color: olive;" class="col-md-12">
        <div style="background-color: palegoldenrod; height: 150px;"></div>
      </div>
    </div> -->
  </div>

  <div class="col-md-4" style="background-color: #f0f2ef;">
    <div class="row">
      <div style="padding: 10px;" class="col-md-12">
        <div class="row" *ngFor="let temp of tempUsers">
          <div class="col-md-3">
            <div class="avatar-div">
              <img
                id="avatar-img"
                src="{{ temp.photo_address }}"
                alt="avatar mx-auto white"
                class="img-fluid"
              />
            </div>
          </div>

          <div class="col-md-9" style="margin: auto;">
            <div class="row">
              <div style="text-align: left; " class="col-md-12">
                <a
                  ><span id="title">{{
                    temp.first_name + " " + temp.last_name
                  }}</span></a
                >
              </div>
            </div>
            <div class="row">
              <div
                style="text-align: left; padding-top: 2px;"
                class="col-md-12"
              >
                <a
                  ><i class="fas fa-envelope"></i
                  ><span style="margin-left:5px;">
                    {{ temp.email }}
                  </span></a
                >
              </div>
            </div>
            <!-- <div class="row">
              <div
                style="text-align: left; padding-top: 2px;"
                class="col-md-12"
              >
                <a
                  ><i class="fas fa-phone-square-alt"></i
                  ><span style="margin-left:5px;">
                    {{ user.phone_number }}
                  </span></a
                >
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
