.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}
.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}
/* 
.myButton {
  height: 35px;
  width: 100px;
  background-color: royalblue;
  color: white;
  font-family: sans-serif;
} */
