<div class="row">
  <div class="col-md-5"></div>
  <div style="text-align: center;" class="col-md-2">
    <a
      style="top:140px;"
      class="btn-floating btn-sm btn-git"
      type="button"
      role="button"
      ><i class="fab fa-github"></i
    ></a>
    <a
      style="top:140px;"
      class="btn-floating btn-sm btn-tw"
      type="button"
      role="button"
      ><i class="fab fa-twitter"></i
    ></a>
    <a
      style="top:140px;"
      class="btn-floating btn-sm btn-li"
      type="button"
      role="button"
      ><i class="fab fa-linkedin-in"></i
    ></a>
  </div>
  <div class="col-md-5"></div>
</div>
