.task-tile {
  padding: 10px;
  font-family: sans-serif;
  background-color: #f0f2ef;
}

.detail-tile {
  border: 1px solid #f0f2ef;
  display: none;
}

.task-button {
  padding: 5px;
  font-family: sans-serif;
  font-size: 15px;
  width: 90px;
  height: 35px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: royalblue;
  border: 1px solid white;
  color: white;
  font-family: sans-serif;
}

.disabled {
  background-color: cornflowerblue;
  border: 1px solid gray;
  color: white;
}

.task-button:hover {
  background-color: royalblue;
  border: 1px solid cornflowerblue;
}

.task-tile:hover {
  background-color: #e9e9e9;
  cursor: pointer;
}
