<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2">
    <div class="avatar-div">
      <img
        id="avatar-img"
        src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
        alt="avatar mx-auto white"
        class="img-fluid"
      />
    </div>
  </div>
  <div class="col-md-5"></div>
</div>

<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2">
    <span id="title"><h3>Hamza Mushtaq</h3></span>
  </div>
  <div class="col-md-5"></div>
</div>
