<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2">
    <div class="avatar-div">
      <img
        id="avatar-img"
        src="{{ user.photo_address }}"
        alt="avatar mx-auto white"
        class="img-fluid"
      />
    </div>
  </div>
  <div class="col-md-5"></div>
</div>

<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2">
    <span id="title"
      ><h3>{{ user.first_name + user.last_name }}</h3></span
    >
  </div>
  <div class="col-md-5"></div>
</div>
