<!--Navbar -->
<nav
  id="navbar-main"
  class="mb-1 navbar fixed-top navbar-expand-lg navbar-dark secondary-color lighten-1"
>
  <a class="navbar-brand" href="#">
    <img
      style="padding-right: 3px;"
      src="../../assets/logos/c-logo.png"
      alt=""
    />
    <span
      style="font-family: sans-serif; font-size: 20px; font-weight: bold; vertical-align: bottom;"
      >onnectico.</span
    ></a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        [routerLink]="['/profile']"
        [routerLinkActive]="'active'"
      >
        <a class="nav-link"
          >Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li
        class="nav-item"
        [routerLink]="['/organization']"
        [routerLinkActive]="'active'"
      >
        <a class="nav-link">Organization</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink-555"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Workspaces
        </a>
        <div
          class="dropdown-menu dropdown-primary"
          aria-labelledby="navbarDropdownMenuLink-555"
        >
          <a
            class="dropdown-item"
            [routerLink]="['/workspace']"
            [routerLinkActive]="'active'"
            >Workspace 1</a
          >
          <a class="dropdown-item" href="#">Workspace 2</a>
          <a class="dropdown-item" href="#">Workspace 3</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink-555"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Projects
        </a>
        <div
          class="dropdown-menu dropdown-primary"
          aria-labelledby="navbarDropdownMenuLink-555"
        >
          <a
            class="dropdown-item"
            [routerLink]="['/project']"
            [routerLinkActive]="'active'"
            >Project 1</a
          >
          <a class="dropdown-item" href="#">Project 2</a>
          <a class="dropdown-item" href="#">Project 3</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink-555"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Teams
        </a>
        <div
          class="dropdown-menu dropdown-primary"
          aria-labelledby="navbarDropdownMenuLink-555"
        >
          <a
            class="dropdown-item"
            [routerLink]="['/team']"
            [routerLinkActive]="'active'"
            >Team 1</a
          >
          <a class="dropdown-item" href="#">Team 2</a>
          <a class="dropdown-item" href="#">Team 3</a>
        </div>
      </li>
      <li
        class="nav-item"
        [routerLink]="['/messages']"
        [routerLinkActive]="'active'"
      >
        <a class="nav-link">Messages</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light"
          >1
          <i class="fas fa-envelope"></i>
        </a>
      </li>
      <li class="nav-item avatar dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink-55"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            src="{{ user.photo_address }}"
            class="rounded-circle z-depth-0"
            alt="avatar image"
          />
        </a>
        <div
          class="dropdown-menu dropdown-menu-lg-right dropdown-primary"
          aria-labelledby="navbarDropdownMenuLink-55"
        >
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
<div style="padding-bottom: 59px;"></div>
