<div style="min-height: 84.5vh;">
  <div *ngIf="filesCount > 0; else emptyFiles">
    <table
      id="dtBasicExample"
      class="table table-striped table-bordered table-sm"
      cellspacing="0"
      width="100%"
    >
      <thead>
        <tr>
          <th class="th-sm">File name</th>
          <th class="th-sm">Comment</th>
          <th class="th-sm">Author</th>
          <th class="th-sm">Extension/ID</th>
          <th class="th-sm">Time</th>
          <th class="th-sm">Download</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of teamFiles">
          <td>{{ file.pst_filename }}</td>
          <td>{{ file.pst_content }}</td>
          <td>
            {{ file.created_by__first_name + " " + file.created_by__last_name }}
          </td>
          <td>{{ file.pst_id }}</td>
          <td>{{ file.created_on }}</td>
          <td><a href="{{ file.pst_filepath }}">Download</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #emptyFiles>No files in this workspace.</ng-template>
</div>
