<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2"></div>
      <div
        style="text-align: center; top: 150px; background-color: #f0f2ef;"
        class="col-md-8"
      >
        <span style="font-size: 30px; font-weight: bold;">“</span>Lorem ipsum
        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.<span style="font-size: 30px; font-weight: bold;">”</span>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
