.close-button {
  padding: 5px;
  font-family: sans-serif;
  font-size: 15px;
  width: 120px;
  height: 35px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #17252a;
  border: 1px solid white;
  color: white;
  font-family: sans-serif;
}

.close-button:hover {
  background-color: #17252a;
  border: 1px solid #def2f1;
}

.modal-body {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
