<app-error-modal [message]="modalMessage"></app-error-modal>

<form [formGroup]="workspaceForm" (ngSubmit)="createWorkspace()">
  <div class="row">
    <div style="margin-bottom: 20px;" class="col-md-12"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div
      class="col-md-10"
      style="padding-left: 0px; border: 1px solid lightgrey; padding-right: 0px;"
    >
      <div class="row">
        <div class="col-md-12" style="text-align: left;">
          <h5
            style="margin: auto; font-family: sans-serif;background-color: royalblue; padding: 5px; color: #f0f2ef; margin-bottom: 20px;"
          >
            <a style="margin-right:5px"><i class="fas fa-plus-square"></i></a>
            Create a new workspace
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div
          class="col-md-3"
          style="text-align: left; padding: 10px; padding-left: 0px;"
        >
          Name
        </div>
        <div class="col-md-7" style="padding: 10px; padding-left: 0px;">
          <input
            type="text"
            name=""
            id=""
            style="width: 100%; padding-left: 0px;"
            formControlName="name"
          />
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div
          class="col-md-3"
          style="text-align: left; padding: 10px; padding-left: 0px;"
        >
          Description
        </div>
        <div class="col-md-7" style="padding: 10px; padding-left: 0px;">
          <input
            type="text"
            name=""
            id=""
            style="width: 100%; padding-left: 0px;"
            formControlName="description"
          />
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div
          class="col-md-3"
          style="text-align: left; padding: 10px; padding-left: 0px;"
        >
          Address
        </div>
        <div class="col-md-7" style="padding: 10px; padding-left: 0px;">
          <input
            type="text"
            name=""
            id=""
            style="width: 100%;"
            formControlName="address"
          />
        </div>
        <div class="col-md-1"></div>
      </div>

      <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-1"></div>
        <div
          class="col-md-10"
          style="text-align: right; padding: 10px; padding-left: 0px;"
        >
          <button
            id="createBtn"
            style="margin: auto; font-family: sans-serif;"
            type="submit"
            class="create-button"
          >
            Create
          </button>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div style="margin-bottom: 20px;" class="col-md-12"></div>
  </div>
</form>
