.create-button {
  padding: 5px;
  font-family: sans-serif;
  font-size: 15px;
  width: 100px;
  height: 35px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: royalblue;
  border: 1px solid white;
  color: white;
  font-family: sans-serif;
}

.create-button:hover {
  background-color: royalblue;
  border: 1px solid cornflowerblue;
}
