<!-- <div class="row">
  <div class="col-md-12">
    <div id="chartdiv" style="height: 100%; width: 100%;"></div>
  </div>
</div> -->
<div class="sectiontitle">
  <h2>Workspace statistics</h2>
  <span class="headerLine"></span>
</div>
<div id="projectFacts" class="sectionClass" style="left: -9px; top: -20px;">
  <div class="fullWidth eight columns">
    <div class="projectFactsWrap">
      <div
        class="item wow fadeInUpBig animated animated"
        data-number="70"
        style="visibility: visible; background-color: #7d96ff; padding: 10px; padding-top: 30px;"
      >
        <i class="fas fa-users"></i>
        <p id="number1" class="number">70</p>
        <span></span>
        <p>Total members</p>
      </div>

      <div
        class="item wow fadeInUpBig animated animated"
        data-number="359"
        style="visibility: visible; background-color: #7d96ff; padding: 10px; padding-top: 30px;"
      >
        <i class="fa fa-clipboard-check"></i>
        <p id="number3" class="number">359</p>
        <span></span>
        <p>Projects completed</p>
      </div>
      <div
        class="item wow fadeInUpBig animated animated"
        data-number="246"
        style="visibility: visible; background-color: #7d96ff; padding: 10px; padding-top: 30px;"
      >
        <i class="fa fa-clipboard-list"></i>
        <p id="number4" class="number">246</p>
        <span></span>
        <p>Projects remaining</p>
      </div>

      <div
        class="item wow fadeInUpBig animated animated"
        data-number="246"
        style="visibility: visible; background-color: #7d96ff; padding: 10px; padding-top: 30px;"
      >
        <i class="fa fa-users-class"></i>
        <p id="number4" class="number">246</p>
        <span></span>
        <p>Total teams</p>
      </div>
    </div>
  </div>
</div>

<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
       <div id="timeline" style="height: 180px;"></div>
    -->
