.task-tile {
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

.task-tile:hover {
  background-color: #3aafa9;
  cursor: pointer;
  color: #f3ffff;
}

.active {
  background-color: #17252a;
  color: #f3ffff;
}
