<app-error-modal [message]="modalMessage"></app-error-modal>
<app-create-task [currentTeam]="currentTeam"></app-create-task>
<app-create-team-event [currentTeam]="currentTeam"></app-create-team-event>
<app-add-team-members [currentTeam]="currentTeam"></app-add-team-members>
<app-leave-team [currentTeam]="currentTeam"></app-leave-team>
<app-show-team-members></app-show-team-members>
<app-show-completed-tasks></app-show-completed-tasks>
<app-show-remaining-tasks></app-show-remaining-tasks>
<!-- <div class="row">
  <div class="col-md-12">
    <div id="chartdiv" style="height: 300px; width: 100%;"></div>
  </div>
</!-->

<div style="min-height: 84.5vh;">
  <div class="sectiontitle">
    <h2>User actions</h2>
    <span class="headerLine"></span>
  </div>

  <div id="projectFacts" class="sectionClass" style="left: -9px; top: -20px;">
    <div class="fullWidth eight columns">
      <div class="projectFactsWrap">
        <div
          id="createTeamTaskButton"
          class="item wow fadeInUpBig animated animated"
          data-number="70"
          style="
            visibility: visible;
            background-color: royalblue;
            padding: 10px;
            padding-top: 30px;
          "
          (click)="openModal('createTask')"
        >
          <i class="fas fa-folder-plus"></i>
          <p>Create Task</p>
        </div>

        <div
          class="item wow fadeInUpBig animated animated"
          data-number="359"
          style="
            visibility: visible;
            background-color: royalblue;
            padding: 10px;
            padding-top: 30px;
          "
          (click)="openModal('createTeamEvent')"
        >
          <i class="fa fa-calendar-plus"></i>
          <p>Create Event</p>
        </div>
        <div
          id="addTeamMemberButton"
          class="item wow fadeInUpBig animated animated"
          data-number="246"
          style="
            visibility: visible;
            background-color: royalblue;
            padding: 10px;
            padding-top: 30px;
          "
          (click)="openModal('addTeamMembers')"
        >
          <i class="fa fa-user-plus"></i>
          <p>Add Members</p>
        </div>

        <div
          class="item wow fadeInUpBig animated animated"
          data-number="246"
          style="
            visibility: visible;
            background-color: royalblue;
            padding: 10px;
            padding-top: 30px;
          "
          (click)="openModal('leaveTeam')"
        >
          <i class="fa fa-sign-out-alt"></i>
          <p>Leave Team</p>
        </div>
      </div>
    </div>
  </div>

  <div class="sectiontitle" style="margin-top: -30px;">
    <h2>Team statistics</h2>
    <span class="headerLine"></span>
  </div>
  <div id="projectFacts" class="sectionClass" style="left: -9px; top: -20px;">
    <div class="fullWidth eight columns">
      <div class="projectFactsWrap">
        <div
          class="item wow fadeInUpBig animated animated"
          data-number="70"
          style="
            visibility: visible;
            background-color: royalblue;
            padding: 10px;
            padding-top: 30px;
          "
          (click)="viewMembers()"
        >
          <i class="fas fa-users"></i>
          <p id="number1" class="number">70</p>
          <span></span>
          <p>Total members</p>
        </div>

        <div
          class="item wow fadeInUpBig animated animated"
          data-number="359"
          style="
            visibility: visible;
            background-color: royalblue;
            padding: 10px;
            padding-top: 30px;
          "
          (click)="tasksDone()"
        >
          <i class="fa fa-clipboard-check"></i>
          <p id="number3" class="number">9</p>
          <span></span>
          <p>Tasks completed</p>
        </div>
        <div
          class="item wow fadeInUpBig animated animated"
          data-number="246"
          style="
            visibility: visible;
            background-color: royalblue;
            padding: 10px;
            padding-top: 30px;
          "
          (click)="tasksLeft()"
        >
          <i class="fa fa-clipboard-list"></i>
          <p id="number4" class="number">16</p>
          <span></span>
          <p>Tasks remaining</p>
        </div>
      </div>
    </div>
  </div>

  <div class="sectiontitle" style="padding-bottom: 30px; margin-top: -30px;">
    <h2>Task progress</h2>
    <span class="headerLine"></span>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h1 style="font-size: 20px; text-align: center; font-weight: bold;">
        Select your task status
      </h1>
      <div class="dropdown" mdbDropdown>
        <button
          mdbDropdownToggle
          mdbBtn
          color="primary"
          class="dropdown-toggle waves-light"
          type="button"
          mdbWavesEffect
        >
          Status
        </button>

        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#">Assigned</a>
          <a class="dropdown-item" href="#">In Progress</a>
          <a class="dropdown-item" href="#">Completed</a>
          <a class="dropdown-item" href="#">Submitted</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
       <div id="timeline" style="height: 180px;"></div>
    -->
      </div>
    </div>
  </div>
</div>
