<form [formGroup]="emailList" (ngSubmit)="invite()">
  <div class="row">
    <div style="margin-bottom: 20px;" class="col-md-12"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div
      class="col-md-10"
      style="padding-left: 0px; border: 1px solid lightgrey; padding-right: 0px;"
    >
      <div class="row">
        <div class="col-md-12" style="text-align: left;">
          <h5
            style="margin: auto; font-family: sans-serif;background-color: royalblue; padding: 5px; color: #f0f2ef; margin-bottom: 20px;"
          >
            <a style="margin-right:5px"><i class="fas fa-user-plus"></i></a>
            Add members
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="text-align: left;">
          <div class="form-group shadow-textarea">
            <textarea
              class="form-control z-depth-1"
              id="invitesTextArea"
              rows="3"
              placeholder="Type in the email addresses (seperated by a semi-colon)"
              formControlName="emails"
            ></textarea>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-1"></div>
        <div
          class="col-md-10"
          style="text-align: right; padding: 10px; padding-left: 0px; right: 10px;"
        >
          <button type="submit" class="create-button">
            Send invite
          </button>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div style="margin-top: 20px;" class="col-md-12"></div>
  </div>
</form>
