.create-button {
  padding: 5px;
  font-family: sans-serif;
  font-size: 15px;
  width: 100px;
  height: 35px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #2b7a78;
  border: 1px solid white;
  color: white;
  font-family: sans-serif;
}

.create-button:hover {
  background-color: #2b7a78;
  border: 1px solid #def2f1;
}

.box {
  padding-left: 0px;
  border: 1px solid lightgrey;
  padding-right: 0px;
  background-color: #faffff !important;
}
