<div style="min-height: 89.8vh;">
  <div class="row" style="padding-top: 0px;">
    <div
      class="col-md-8"
      style="background-color: whitesmoke; padding-top: 20px;"
    >
      <form
        [formGroup]="postForm"
        (ngSubmit)="createProjectPost()"
        enctype="multipart/form-data"
      >
        <div class="row">
          <div class="col-md-12">
            <div class="form-group shadow-textarea">
              <!-- <label for="exampleFormControlTextarea6">Shadow and placeholder</label> -->
              <textarea
                class="form-control z-depth-1"
                id="exampleFormControlTextarea6"
                rows="3"
                placeholder="Write something here..."
                formControlName="postContent"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            style="margin-top: -5px; margin-left: -3px;"
            class="md-form col-md-10"
          >
            <div class="file-field">
              <div class="btn btn-primary btn-sm float-left">
                <span>Choose file</span>
                <input type="file" (change)="userFileSelected($event)" />
              </div>
              <div class="file-path-wrapper">
                <input
                  class="file-path validate"
                  type="text"
                  placeholder="Upload your file"
                />
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <button
              style="margin-left: -3px; margin-top: -5px;"
              class="btn btn-primary"
              type="submit"
              id="teamPostBtn"
            >
              Post
            </button>
          </div>
        </div>
      </form>
      <hr />
      <div class="row" *ngFor="let post of userPostsData">
        <div style="background-color: whitesmoke;" class="col-md-12">
          <div class="row" style="background-color: whitesmoke; padding: 5px;">
            <div class="col-md-1">
              <img
                style="width: 50px;"
                src="{{ post.created_by__photo_address }}"
                class="rounded-circle z-depth-0"
                alt="avatar image"
              />
            </div>
            <div class="col-md-11">
              <div class="row">
                <div class="col-md-12">
                  <h6
                    style="
                      font-family: sans-serif;
                      font-size: 15px;
                      font-weight: bold;
                      padding-top: 5px;
                    "
                  >
                    {{
                      post.created_by__first_name +
                        " " +
                        post.created_by__last_name
                    }}
                  </h6>
                </div>
              </div>
              <div class="row">
                <div
                  style="font-family: sans-serif; font-size: 12px;"
                  class="col-md-12"
                >
                  <a style="margin-right: 5px;"><i class="fas fa-clock"></i></a
                  >{{ post.created_on }}
                </div>
              </div>
            </div>
          </div>

          <div style="margin-left: 5px; padding-top: 5px; padding-bottom: 5px;">
            <div class="row">
              <div class="col-md-12" style="text-align: justify;">
                {{ post.pst_content }}
              </div>
            </div>
          </div>

          <div class="container" *ngIf="post.pst_filepath">
            <div class="row">
              <div
                class="col-md-12"
                style="
                  background-color: #eaeee9;
                  padding: 10px;
                  margin-top: 10px;
                  margin-bottom: 10px;
                "
              >
                <i class="fas fa-download"></i>
                <span style="margin-left: 10px;">{{ post.pst_filename }}</span>
                <span style="float: right;"
                  ><a href="{{ post.pst_filepath }}">Download</a></span
                >
              </div>
            </div>
          </div>

          <div
            class="row"
            style="margin-top: 10px; margin-left: 10px;"
            *ngFor="let comment of post.commentData"
          >
            <div class="col-md-1">
              <img
                style="width: 40px;"
                src="{{ comment.created_by__photo_address }}"
                class="rounded-circle z-depth-0"
                alt="avatar image"
              />
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-12">
                  <h6
                    style="
                      font-family: sans-serif;
                      font-size: 14px;
                      font-weight: bold;
                      margin-bottom: 2px;
                    "
                  >
                    {{
                      comment.created_by__first_name +
                        " " +
                        comment.created_by__last_name
                    }}
                  </h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  {{ comment.c_content }}
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>

          <form
            [formGroup]="commentForm"
            (ngSubmit)="createComment(post.pst_id)"
          >
            <div class="row" style="margin-top: 10px; margin-left: 10px;">
              <div class="col-md-1">
                <img
                  style="width: 40px;"
                  src="{{ user.photo_address }}"
                  class="rounded-circle z-depth-0"
                  alt="avatar image"
                />
              </div>
              <div class="col-md-9" style="margin-top: 5px;">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  placeholder="Write a comment.."
                  formControlName="commentContent"
                />
              </div>
              <div class="col-md-2">
                <button
                  type="submit"
                  id="workspaceCommentBtn"
                  class="myButton btn-sm btn-primary"
                >
                  Post
                </button>
              </div>
            </div>
          </form>
          <hr />
        </div>
      </div>

      <!-- <div class="row">
      <div style="background-color: olive;" class="col-md-12">
        <div style="background-color: palegoldenrod; height: 150px;"></div>
      </div>
    </div>
    <div class="row">
      <div style="background-color: olive;" class="col-md-12">
        <div style="background-color: palegoldenrod; height: 150px;"></div>
      </div>
    </div> -->
    </div>

    <div class="col-md-4" style="background-color: #f0f2ef;">
      <div class="row">
        <div style="padding: 10px;" class="col-md-12">
          <div class="row" *ngFor="let member of teamMembers">
            <div class="col-md-2">
              <div class="avatar-div">
                <img
                  id="avatar-img"
                  src="{{ member.u_id__photo_address }}"
                  alt="avatar mx-auto white"
                  class="img-fluid"
                />
              </div>
            </div>

            <div class="col-md-10" style="margin: auto;">
              <div class="row">
                <div
                  style="text-align: left; padding-left: 20px;"
                  class="col-md-12"
                >
                  <a
                    ><span id="title">{{
                      member.u_id__first_name + " " + member.u_id__last_name
                    }}</span></a
                  >
                </div>
              </div>
              <div class="row">
                <div
                  style="
                    text-align: left;
                    padding-top: 2px;
                    padding-left: 20px;
                  "
                  class="col-md-12"
                >
                  <a
                    ><i class="fas fa-envelope"></i
                    ><span style="margin-left: 5px;">
                      {{ member.u_id__email }}
                    </span></a
                  >
                </div>
              </div>
              <!-- <div class="row">
              <div
                style="text-align: left; padding-top: 2px;"
                class="col-md-12"
              >
                <a
                  ><i class="fas fa-phone-square-alt"></i
                  ><span style="margin-left:5px;">
                    {{ user.phone_number }}
                  </span></a
                >
              </div>
            </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
