<app-navbar></app-navbar>

<div class="row">
  <div class="col-md-2 left-column">
    <div class="row">
      <div class="col-md-12">
        <div
          class="row heading-column"
          [routerLink]="['/workspace', workspace.w_id]"
        >
          <a style="margin-right: 5px;"><i class="fas fa-home"></i></a>Home
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row heading-column" [routerLink]="['feed']">
          <a style="margin-right: 5px;"><i class="fas fa-newspaper"></i></a>Feed
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row heading-column" [routerLink]="['projects']">
          <a style="margin-right: 5px;"><i class="fas fa-folder"></i></a
          >Projects
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row heading-column" [routerLink]="['events']">
          <a style="margin-right: 5px;"><i class="fas fa-calendar-star"></i></a
          >Events
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row heading-column" [routerLink]="['files']">
          <a style="margin-right: 5px;"><i class="fas fa-file-signature"></i></a
          >Files
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row heading-column" [routerLink]="['settings']">
          <a style="margin-right: 5px;"><i class="fas fa-cog"></i></a>Settings
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9 right-column">
    <div class="row">
      <div class="col-md-12 header">
        <h3 style="font-family: sans-serif; padding: 5px; margin: auto;">
          {{ workspace.w_name }}
          <span style="font-weight: normal; font-size: 25px;"
            ><i class="fas fa-caret-right"></i>{{ " " + page }}</span
          >
        </h3>
      </div>
    </div>
    <div class="row" style="background-color: #feffff; padding-right: 0px;">
      <div class="col-md-12" style="padding: 0px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
