<app-navbar></app-navbar>

<div class="row">
  <div
    class="col-md-2"
    style="background-color: #f0f2ef; border-right: 1px solid lightgrey; position: relative; height: 90vh;"
  >
    <div class="row">
      <div class="col-md-12">
        <div class="row heading-column" (click)="leftbar_click($event)">
          <a style="margin-right:5px"><i class="fas fa-home"></i></a>Home
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row heading-column" (click)="leftbar_click($event)">
          <a style="margin-right:5px"><i class="fas fa-newspaper"></i></a>Feed
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row heading-column" (click)="leftbar_click($event)">
          <a style="margin-right:5px"><i class="fas fa-tasks"></i></a>Projects
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row heading-column">
          <a style="margin-right:5px"><i class="fas fa-file-signature"></i></a
          >Files
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <div class="row">
      <div
        class="col-md-12"
        style="background-color: #7d96ff

      ; color: #F3FFFF;"
      >
        <h3 style="font-family: sans-serif; padding: 5px;">Workspace 1</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-workspace-home
          *ngIf="screen === 'workspace_home'"
        ></app-workspace-home>
        <app-feed *ngIf="screen === 'feed'"></app-feed>
        <app-workspace-project
          *ngIf="screen === 'workspace_project'"
        ></app-workspace-project>
      </div>
    </div>
  </div>
</div>
