<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 box">
        <div class="row box-heading">
          <a style="margin-right: 5px;"
            ><i style="color: white;" class="fas fa-address-card"></i></a
          >Details
        </div>
        <div class="row">
          <div class="col-md-3" style="border-right: 1px solid lightgrey;">
            <div class="row heading-column" (click)="changeSection($event)">
              <a style="margin-right: 5px;"
                ><i class="fas fa-question-circle"></i></a
              >About
            </div>
            <div class="row heading-column" (click)="changeSection($event)">
              <a style="margin-right: 5px;"
                ><i class="fas fa-map-marker-alt"></i></a
              >Location
            </div>
            <div class="row heading-column" (click)="changeSection($event)">
              <a style="margin-right: 5px;"><i class="fas fa-briefcase"></i></a
              >Created By
            </div>
          </div>
          <div class="col-md-9" style="background-color: #feffff;">
            <!-- inside details box -->
            <app-organization-details-about
              *ngIf="currentSection === 'About'"
            ></app-organization-details-about>
            <app-organization-details-createdby
              *ngIf="currentSection === 'Created By'"
            ></app-organization-details-createdby>
            <app-organization-details-location
              *ngIf="currentSection === 'Location'"
            ></app-organization-details-location>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
