<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2"></div>
      <div
        style="text-align: center; top: 50px; background-color: #f0f2ef;"
        class="col-md-8"
      >
        <div
          style="font-size: 20px; padding: 10px; font-family: sans-serif; color: white; background-color: royalblue;"
          class="row"
        >
          <a style="margin-right:5px"
            ><i style="color: white;" class="fas fa-address-card"></i></a
          >Details
        </div>
        <div class="row">
          <div class="col-md-3" style="border-right: 1px solid lightgrey;">
            <div class="row heading-column" (click)="changeSection($event)">
              <a style="margin-right:5px"
                ><i class="fas fa-question-circle"></i></a
              >About
            </div>
            <div class="row heading-column" (click)="changeSection($event)">
              <a style="margin-right:5px"
                ><i class="fas fa-map-marker-alt"></i></a
              >Location
            </div>
            <div class="row heading-column" (click)="changeSection($event)">
              <a style="margin-right:5px"><i class="fas fa-briefcase"></i></a
              >Created By
            </div>
          </div>
          <div class="col-md-9">
            <!-- inside details box -->
            <app-organization-details-about
              *ngIf="currentSection === 'About'"
            ></app-organization-details-about>
            <app-organization-details-createdby
              *ngIf="currentSection === 'Created By'"
            ></app-organization-details-createdby>
            <app-organization-details-location
              *ngIf="currentSection === 'Location'"
            ></app-organization-details-location>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
