<div class="container-fluid">
  <!-- row for the navbar component -->
  <!-- <div class="row">
    <div class="col-md-12"></div>
  </div> -->

  <!-- row for structure components -->
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
      <!-- <app-landing-page></app-landing-page> -->
      <!-- <profile-structure></profile-structure> -->
      <!-- <organization-structure></organization-structure> -->
    </div>
  </div>
</div>

<!-- <img
        src="../assets/images/Flat-Mountains.svg"
        class="img-fluid"
        alt="Responsive image"
      /> -->
