<table
  id="dtBasicExample"
  class="table table-striped table-bordered table-sm"
  cellspacing="0"
  width="100%"
>
  <thead>
    <tr>
      <th class="th-sm">File name</th>
      <th class="th-sm">Comment</th>
      <th class="th-sm">Author</th>
      <th class="th-sm">Extension</th>
      <th class="th-sm">Time</th>
      <th class="th-sm">Download</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let file of files">
      <td>{{ file.file_name }}</td>
      <td>{{ file.comment }}</td>
      <td>{{ file.author }}</td>
      <td>{{ file.ext }}</td>
      <td>{{ file.time }}</td>
      <td><a href="JavaScript:Void(0);">Download</a></td>
    </tr>
  </tbody>
</table>
