<app-in-progress-team [currentTeam]="selectedTeam"></app-in-progress-team>
<app-completed-team [currentTeam]="selectedTeam"></app-completed-team>

<div style="min-height: 84.5vh;">
  <table
    id="dtBasicExample"
    class="table table-striped table-bordered table-sm"
    cellspacing="0"
    width="100%"
  >
    <thead>
      <tr>
        <th class="th-sm">Team name</th>
        <th class="th-sm">Description</th>
        <th class="th-sm">Team Lead</th>
        <th class="th-sm">Total tasks</th>
        <th class="th-sm">Check status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <td>{{ team.tm_name }}</td>
        <td>{{ team.tm_description }}</td>
        <td>{{ team.team_lead }}</td>
        <td>{{ team.totalTasks }}</td>
        <td *ngIf="team.tm_completed == false">
          <a (click)="inProgress(team)">In progress</a>
        </td>
        <td *ngIf="team.tm_completed == true">
          <a (click)="completed(team)">Completed</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
