<app-navbar></app-navbar>
<div class="row" style="overflow-y: hidden;overflow-x: hidden;">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <app-organization-tiles></app-organization-tiles>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <app-organization-cover></app-organization-cover>
        <app-organization-avatar></app-organization-avatar>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <app-organization-actions></app-organization-actions>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <app-organization-details-structure></app-organization-details-structure>
      </div>
    </div>

    <div class="row">
      <div
        style="top: 150px; margin-bottom: 50px;padding-top: 50px;"
        class="col-md-12"
      ></div>
    </div>
  </div>
</div>
