<img
  src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
&markers=color:red%7Clabel:C%7C40.718217,-73.998284
&key=AIzaSyCflgUeLcHjjuu2xT9hA1DM1BaFnREWjFg"
  alt=""
/>

<app-navbar></app-navbar>

<div style="overflow-y: hidden;overflow-x: hidden;">
  <div class="row">
    <div class="col-md-12">
      <!-- component for the svg back cover -->
      <app-cover></app-cover>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- component for user avatar and full name -->
      <app-avatar></app-avatar>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- component for three buttons of social links  -->
      <app-social-links></app-social-links>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- component for status line box below social buttons -->
      <app-status-box></app-status-box>
    </div>
  </div>

  <!-- space between status box component and details component -->
  <div class="row">
    <div style="margin-top: 50px;" class="col-md-12"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- component for details structure -->
      <app-details-structure></app-details-structure>
    </div>
  </div>

  <div class="row">
    <div
      style="top: 150px; margin-bottom: 150px;padding-top: 50px;"
      class="col-md-12"
    ></div>
  </div>
</div>
