<app-submit-task [currentTask]="selectedTask"></app-submit-task>

<div class="row" *ngFor="let task of tasks">
  <div class="col-md-12">
    <div class="row task-tile" (click)="openDetails(task.t_id)">
      <div class="col-md-10">
        {{ task.t_name }}
      </div>
      <div class="col-md-2">
        <button
          class="task-button"
          (click)="openModal('submitTask', task)"
          *ngIf="task.completed == false"
        >
          Submit
        </button>
        <button
          class="task-button disabled"
          disabled
          *ngIf="task.completed == true"
        >
          Completed
        </button>
      </div>
    </div>
    <div id="task{{ +task.t_id }}" class="row detail-tile">
      <div class="col-md-12" style="padding: 10px;">
        <div class="row" style="padding-top: 5px; padding-bottom: 10px;">
          <div class="col-md-3" style="font-family: sans-serif;">
            Team:
          </div>
          <div class="col-md-9">
            {{ task.team }}
          </div>
        </div>
        <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
          <div class="col-md-3" style="font-family: sans-serif;">
            Description:
          </div>
          <div class="col-md-9">
            {{ task.t_description }}
          </div>
        </div>
        <div
          class="row"
          style="padding-top: 10px; padding-bottom: 10px;"
          *ngIf="task.assigned_filepath != null"
        >
          <div class="col-md-3" style="font-family: sans-serif;">
            Task file:
          </div>
          <div class="col-md-9">
            <a href="{{ task.assigned_filepath }}">Download</a>
          </div>
        </div>
        <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
          <div class="col-md-3" style="font-family: sans-serif;">
            Created by:
          </div>
          <div class="col-md-9">
            {{ task.created_by }}
          </div>
        </div>
        <div class="row" style="padding-top: 10px; padding-bottom: 5px;">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6" style="font-family: sans-serif;">
                Start Date:
              </div>
              <div class="col-md-6">{{ task.t_start_date }}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6" style="font-family: sans-serif;">
                End Date:
              </div>
              <div class="col-md-6">{{ task.t_end_date }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="row"
  style="padding: 10px; font-family: sans-serif; background-color: #f0f2ef;"
  *ngIf="tasks.length == 0"
>
  No tasks assigned yet.
</div>
