<app-login-modal></app-login-modal>
<app-register-modal></app-register-modal>
<app-new-user-modal></app-new-user-modal>
<app-error-modal></app-error-modal>

<div class="background">
  <div class="element-div" style="width: 400px;">
    <h1>Connectico.</h1>
    <h4 style="padding-bottom: 30px;">
      We connect your workplace!
    </h4>
    <button (click)="register()" class="btn btn-danger register-btn">
      <i style="padding-right: 10px !important;" class="fas fa-user-plus"></i
      >Register
    </button>
    <button (click)="login()" class="btn btn-primary login-btn">
      <i style="padding-right: 10px !important;" class="fas fa-sign-in-alt"></i>
      Login
    </button>
  </div>
</div>
