.background {
  position: relative;
  height: 100vh;
  background-image: url("../../assets/images/landing-page-bg.jpg");
  /* background-image: url("../../assets/images/bg.png"); */
  background-size: cover;
}

.element-div {
  position: relative;
  top: 25%;
  left: 30%;
  /* backdrop-filter: blur(3px); */
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 70px;
  color: #17252a;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h4 {
  /* color: royalblue; */
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  font-family: sans-serif;
}

.login-btn {
  background-color: #2b7a78 !important;
  text-align: right !important;
  left: 5%;
}

.btn {
  font-family: sans-serif !important;
  text-transform: none !important;
  font-size: 17px;
}
