<div style="min-height: 90vh; max-height: 90vh;">
  <div class="row">
    <div
      class="col-md-12"
      style="background-color: royalblue; color: #F3FFFF; margin: auto;"
    >
      <h3 style="font-family: sans-serif; padding: 5px; margin: auto; ">
        Hamza Mushtaq
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12"></div>
  </div>

  <div class="row" style="position: absolute; width: 100%; bottom: 10px;">
    <div class="col-md-10">
      <div class="form-group shadow-textarea">
        <!-- <label for="exampleFormControlTextarea6">Shadow and placeholder</label> -->
        <textarea
          class="form-control z-depth-1"
          id="exampleFormControlTextarea6"
          rows="2"
          style="resize: none;"
          placeholder="Write a message..."
        ></textarea>
      </div>
      <!-- <input style="width: 100%;" type="text" placeholder="Type a message.." /> -->
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" style="right: 10px;">
        Send
      </button>
    </div>
  </div>
</div>
