<app-navbar></app-navbar>
<div class="row">
  <div
    class="col-md-4"
    style="background-color: #f0f2ef; min-height: 84.5vh; max-height: 91vh; overflow-y: auto; "
  >
    <h3 style="padding: 10px; font-family: sans-serif;">Messages</h3>
    <div class="row" style="margin-top: 10px; margin-bottom: 30px;">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row message-tile" *ngFor="let message of messages">
          <div class="col-md-2">
            <div class="avatar-div">
              <img
                id="avatar-img"
                src="{{ message.photo_address }}"
                alt="avatar mx-auto white"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-md-10" style="margin: auto;">
            <div class="row">
              <div
                style="text-align: left; padding-top: 2px; padding-left: 25px; "
                class="col-md-12"
              >
                <a
                  ><span id="title">
                    {{ message.first_name + " " + message.last_name }}
                  </span></a
                >
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 message-body">
                <span style="margin-left:5px;">
                  {{ message.message_body }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <div class="col-md-8" style="background-color: lightgray;">
    <app-message-detail></app-message-detail>
  </div>
</div>
