<app-navbar></app-navbar>
<div style="min-height: 84.5vh;">
  <div class="row">
    <div class="col-md-3" style="background-color: salmon;">
      <h3>Messages</h3>
      <div class="row">
        <div class="col-md-2">
          <div class="avatar-div">
            <img
              id="avatar-img"
              src="https://image.freepik.com/free-vector/businessman-character-avatar-icon-vector-illustration-design_24877-18271.jpg"
              alt="avatar mx-auto white"
              class="img-fluid"
            />
          </div>
        </div>

        <div class="col-md-10" style="margin: auto;">
          <div class="row">
            <div
              style="text-align: left; padding-left: 20px; "
              class="col-md-12"
            >
              <a
                ><span id="title">
                  Hamza Mushtaq
                </span></a
              >
            </div>
          </div>
          <div class="row">
            <div
              style="text-align: left; padding-top: 2px; padding-left: 20px;"
              class="col-md-12"
            >
              <span style="margin-left:5px;">
                Here comes the text...
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9" style="background-color: seagreen;">Messages</div>
  </div>
</div>
