.heading-column {
  padding: 15px;
  padding-left: 50%;
  /* padding-right: 30px; */
  text-align: right;
  font-family: sans-serif;
  font-size: 15px;
}

.heading-column:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}
