.tile {
  background-color: white;
  padding: 5px;
  text-align: center;
  border-width: 10px;
  border: 1px solid lightgray;
  margin: 0px;
  padding: 10px;
}

.tile:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}
