<app-members-modal-structure></app-members-modal-structure>
<app-workspaces-modal-structure></app-workspaces-modal-structure>
<app-projects-modal-structure></app-projects-modal-structure>
<app-teams-modal-structure></app-teams-modal-structure>

<div class="row">
  <div class="col-md-3 tile" (click)="members()">
    <div>
      <div class="row">
        <div style="text-align: right;" class="col-md-6">
          <a
            ><i
              style="font-size: 60px; color: royalblue;"
              class="fas fa-users"
            ></i
          ></a>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div
              style="text-align: left; font-family: sans-serif;"
              class="col-md-12"
            >
              <a><span id="title">Total members</span></a>
            </div>
          </div>
          <div class="row">
            <div
              style="text-align: left; font-size: 25px; font-family: sans-serif;"
              class="col-md-12"
            >
              <a
                ><span id="title">{{ totalMembers }}</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 tile" (click)="workspaces()">
    <div>
      <div class="row">
        <div style="text-align: right;" class="col-md-6">
          <a
            ><i
              style="font-size: 60px; color: royalblue;"
              class="fas fa-network-wired"
            ></i
          ></a>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div
              style="text-align: left; font-family: sans-serif;"
              class="col-md-12"
            >
              <a><span id="title">Total workspaces</span></a>
            </div>
          </div>
          <div class="row">
            <div
              style="text-align: left; font-size: 25px; font-family: sans-serif;"
              class="col-md-12"
            >
              <a
                ><span id="title">{{ totalWorkspaces }}</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 tile" (click)="projects()">
    <div>
      <div class="row">
        <div style="text-align: right;" class="col-md-6">
          <a
            ><i
              style="font-size: 60px; color: royalblue;"
              class="fas fa-tasks"
            ></i
          ></a>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div
              style="text-align: left; font-family: sans-serif;"
              class="col-md-12"
            >
              <a><span id="title">Total projects</span></a>
            </div>
          </div>
          <div class="row">
            <div
              style="text-align: left; font-size: 25px; font-family: sans-serif;"
              class="col-md-12"
            >
              <a
                ><span id="title">{{ totalProjects }}</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 tile" (click)="teams()">
    <div>
      <div class="row">
        <div style="text-align: right;" class="col-md-6">
          <a
            ><i
              style="font-size: 60px; color: royalblue;"
              class="fas fa-map"
            ></i
          ></a>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div
              style="text-align: left; font-family: sans-serif;"
              class="col-md-12"
            >
              <a><span id="title">Total teams</span></a>
            </div>
          </div>
          <div class="row">
            <div
              style="text-align: left; font-size: 25px; font-family: sans-serif;"
              class="col-md-12"
            >
              <a
                ><span id="title">{{ totalTeams }}</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
