<div class="row">
  <div style="margin-top: 25px;" class="col-md-12"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6 about-column left-column">
        <a><i style="margin-right: 5px;" class="fas fa-user"></i></a>Username
      </div>
      <div class="col-md-6 about-column right-column">
        {{ user.username }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 about-column left-column">
        <a><i style="margin-right: 5px;" class="fas fa-envelope"></i></a>Email
      </div>
      <div class="col-md-6 about-column right-column">
        {{ user.email }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 about-column left-column">
        <a><i style="margin-right: 5px;" class="fas fa-phone-square-alt"></i></a
        >Phone
      </div>
      <div class="col-md-6 about-column right-column">
        {{ user.phone_number }}
      </div>
    </div>

    <div class="col-md-2"></div>
  </div>
</div>
