.locked {
  /* height: 40px; */
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ff3547;
  text-align: center;
}

.left-column {
  /* background-color: #f0f2ef; */
  /* background-color: #f2edd7ff; */
  /* background-color: #f5f0e1; */
  /* background-color: #bfb5af; */
  background-color: #def2f1;
  border-right: 1px solid lightgrey;
}

.heading-column {
  padding: 15px;
  padding-left: 50%;
  /* padding-right: 30px; */
  text-align: right;
  font-family: sans-serif;
  font-size: 17px;
}

/* .heading-column-min {
  padding: 15px;
  padding-left: 50%;
  text-align: center;
  font-family: sans-serif;
  font-size: 0px;
} 
*/

/* .right-column {
  padding-right: 8%;
} */

/* .right-column-min {
  padding-right: 10%;
} */

.heading-column:hover {
  /* background-color: rgb(233, 233, 233); */
  background-color: #17252a;
  cursor: pointer;
  color: #3aafa9;
  /* color: #d75404; */
}

/* .icons {
  font-size: 30px;
} */

.heading-column:hover a i {
  /* color: #d75404; */
  color: #3aafa9;
}

.header {
  /* background-color: #d75404; */
  /* background-color: maroon; */
  /* background-color: #172c42; */
  /* background-color: #f2aa4cff; */
  /* background-color: #ff6e40; */
  /* background-color: maroon; */
  /* background-color: #f45866; */
  /* background-color: #dd6031; */
  /* background-color: #a26769; */
  background-color: #2b7a78;
  color: #f3ffff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
}
