<app-navbar></app-navbar>

<div class="row">
  <div
    class="col-md-2"
    style="background-color: #f0f2ef; border-right: 1px solid lightgrey;  height: auto;"
  >
    <div class="row">
      <div class="col-md-12">
        <div class="row heading-column" (click)="leftbar_click($event)">
          <a style="margin-right:5px"
            ><i class="fas fa-home" style="color: royalblue;"></i></a
          >Home
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row heading-column" (click)="leftbar_click($event)">
          <a style="margin-right:5px"
            ><i class="fas fa-newspaper" style="color: royalblue;"></i></a
          >Feed
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row heading-column" (click)="leftbar_click($event)">
          <a style="margin-right:5px"
            ><i class="fas fa-folder" style="color: royalblue;"></i></a
          >Tasks
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row heading-column" (click)="leftbar_click($event)">
          <a style="margin-right:5px"
            ><i class="fas fa-calendar-star" style="color: royalblue;"></i></a
          >Events
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row heading-column" (click)="leftbar_click($event)">
          <a style="margin-right:5px"
            ><i class="fas fa-file-signature" style="color: royalblue;"></i></a
          >Files
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <div class="row">
      <div
        class="col-md-12"
        style="background-color: royalblue; color: #F3FFFF; margin: auto;"
      >
        <h3 style="font-family: sans-serif; padding: 5px; margin: auto; ">
          Team 1

          <span style="font-weight: normal; font-size: 25px;"
            ><i class="fas fa-caret-right"></i>{{ " " + page }}</span
          >
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" *ngIf="screen === 'team_home'">
        <app-team-home></app-team-home>
      </div>
      <div class="col-md-12" *ngIf="screen === 'team_feed'">
        <app-team-feed></app-team-feed>
      </div>
      <div class="col-md-12" *ngIf="screen === 'team_task'">
        <app-team-task></app-team-task>
      </div>
      <div class="col-md-12" *ngIf="screen === 'team_event'">
        <app-team-event></app-team-event>
      </div>
      <div class="col-md-12" *ngIf="screen === 'team_files'">
        <app-team-files></app-team-files>
      </div>
      <!-- <div class="col-md-12">
        <app-workspace-home
          *ngIf="screen === 'workspace_home'"
        ></app-workspace-home>
        <app-feed *ngIf="screen === 'feed'"></app-feed>
        <app-workspace-project
          *ngIf="screen === 'workspace_project'"
        ></app-workspace-project>
        <app-workspace-files
          *ngIf="screen === 'workspace_files'"
        ></app-workspace-files>
      </div> -->
    </div>
  </div>
</div>
