<div class="row">
  <div style="margin-top: 15px;" class="col-md-12"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div style="padding: 10px;" class="col-md-8">
    <div class="row">
      <div class="col-md-3">
        <div class="avatar-div">
          <img
            id="avatar-img"
            src="{{ user.photo_address }}"
            alt="avatar mx-auto white"
            class="img-fluid"
          />
        </div>
      </div>

      <div class="col-md-9">
        <div class="row">
          <div style="text-align: left;" class="col-md-12">
            <a
              ><span id="title">{{ user.first_name + user.last_name }}</span></a
            >
          </div>
        </div>
        <div class="row">
          <div style="text-align: left; padding-top: 2px;" class="col-md-12">
            <a
              ><i class="fas fa-envelope"></i
              ><span style="margin-left:5px;">
                {{ user.email }}
              </span></a
            >
          </div>
        </div>
        <div class="row">
          <div style="text-align: left; padding-top: 2px;" class="col-md-12">
            <a
              ><i class="fas fa-phone-square-alt"></i
              ><span style="margin-left:5px;">
                {{ user.phone_number }}
              </span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
