<form
  [formGroup]="registerForm"
  (ngSubmit)="register()"
  enctype="multipart/form-data"
>
  <div
    class="modal fade"
    id="createEvent"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div
          class="modal-header"
          style="background-color: royalblue; color: white;"
        >
          <h4 class="modal-title w-100" id="myModalLabel">
            <a
              ><i
                style="padding-right: 10px !important;"
                class="fa fa-calendar-plus"
              ></i></a
            >Create event
          </h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="color: white;"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form class="text-center" style="color: #757575;" action="#!">
            <!-- Name -->
            <div class="md-form mt-3">
              <input
                type="text"
                id="materialContactFormName"
                class="form-control"
              />
              <label for="materialContactFormName">Name</label>
            </div>

            <!-- E-mail -->
            <div class="md-form">
              <input
                type="email"
                id="materialContactFormEmail"
                class="form-control"
              />
              <label for="materialContactFormEmail">E-mail</label>
            </div>

            <!-- Subject -->
            <span>Subject</span>
            <select class="mdb-select">
              <option value="" disabled>Choose option</option>
              <option value="1" selected>Feedback</option>
              <option value="2">Report a bug</option>
              <option value="3">Feature request</option>
              <option value="4">Feature request</option>
            </select>

            <!--Message-->
            <div class="md-form">
              <textarea
                id="materialContactFormMessage"
                class="form-control md-textarea"
                rows="3"
              ></textarea>
              <label for="materialContactFormMessage">Message</label>
            </div>

            <!-- Copy -->
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="materialContactFormCopy"
              />
              <label class="form-check-label" for="materialContactFormCopy"
                >Send me a copy of this message</label
              >
            </div>

            <!-- Send button -->
            <button
              class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"
              type="submit"
            >
              Send
            </button>
          </form>
        </div>

        <div class="modal-footer">
          <button
            style="background-color: royalblue !important;"
            type="button"
            class="close-button"
            data-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Central Modal Small -->

